In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('../data/hospital.db')

In [3]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM hospital_prices LIMIT 30;")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Metroplus', 'Metroplus Medicaid', None, None, None, '201811.76')
(2, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Metroplus', 'Metroplus Essential Plan 1 & 2', None, None, None, '201811.76')
(3, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Affinity', 'Essential Plans 3-4', None, None, None, '201811.76')
(4, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Metroplus', 'Metroplus Essential Plan 3 & 4', None, None, None, '201811.76')
(5, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Emblem', 'Medicaid', None, None, None, '201811.76')
(6, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Amida Care', 'Amida Care Medicaid Managed Care', None, None, None, '201811.76')
(7, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Empire Healthplus ', 'Essential Plan 1-2', None, None, None, '201811.76')
(8, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Empire Healthplus ', 'Essential Plan 3-4', None, None, None, '201811.76')
(9, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'VNS', 'Select Health Medicaid', None, None, None, '201811.76')
(10, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Emblem', 'Essential Plan 1-2', None, None, None, '201811.76')
(11, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Affinity', 'Essential Plans 1-2', None, None, None, '201811.76')
(12, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'HealthFirst', 'HealthFirst QHP - EP 1&2', None, None, None, '201811.76')
(13, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'HealthFirst', 'Medicaid - Essential Plans 3 & 4', None, None, None, '201811.76')
(14, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Emblem', 'Essential Plan 3-4', None, None, None, '201811.76')
(15, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Affinity', 'Affinity Medicaid, HARP, CHIP', None, None, None, '201811.76')
(16, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Fidelis', 'Fidelis Essential Plan 3 & 4', None, None, None, '201811.76')
(17, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Fidelis', 'Medicaid', None, None, None, '201811.76')
(18, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Fidelis', 'Fidelis Essential Plan 1 & 2', None, None, None, '201811.76')
(19, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0011', 'APR-DRG', 'inpatient', None, None, 'Empire Healthplus ', 'Medicaid', None, None, None, '201811.76')
(20, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Fidelis', 'Medicaid', None, None, None, '205652.82')
(21, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Affinity', 'Essential Plans 1-2', None, None, None, '205652.82')
(22, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Emblem', 'Essential Plan 3-4', None, None, None, '205652.82')
(23, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Empire Healthplus ', 'Medicaid', None, None, None, '205652.82')
(24, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Fidelis', 'Fidelis Essential Plan 1 & 2', None, None, None, '205652.82')
(25, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Affinity', 'Essential Plans 3-4', None, None, None, '205652.82')
(26, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'HealthFirst', 'HealthFirst QHP - EP 1&2', None, None, None, '205652.82')
(27, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'VNS', 'Select Health Medicaid', None, None, None, '205652.82')
(28, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Fidelis', 'Fidelis Essential Plan 3 & 4', None, None, None, '205652.82')
(29, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Emblem', 'Essential Plan 1-2', None, None, None, '205652.82')
(30, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'Liver Transplant', '0012', 'APR-DRG', 'inpatient', None, None, 'Affinity', 'Affinity Medicaid, HARP, CHIP', None, None, None, '205652.82')

In [4]:
cursor.execute("SELECT count(*) FROM hospital_prices;")
count = cursor.fetchone()[0]
print(f"Total rows in hospital_prices: {count}")

Total rows in hospital_prices: 50062670

In [5]:
cursor.execute("SELECT count(DISTINCT hospital_name) FROM hospital_prices;")
distinct_count = cursor.fetchone()[0]
print(f"Total distinct hospitals in hospital_prices: {distinct_count}")

Total distinct hospitals in hospital_prices: 6

In [6]:
cursor.execute("SELECT DISTINCT hospital_name FROM hospital_prices;")
distinct_hospitals = cursor.fetchall()
for hospital in distinct_hospitals:
    print(hospital[0])

Mount Sinai Brooklyn
Mount Sinai Hospital
Mount Sinai Queens
Mount Sinai Morningside
Howard County General Hospital
Johns Hopkins Hospital

In [7]:
cursor.execute("SELECT hospital_name, COUNT(*) FROM hospital_prices GROUP BY hospital_name ORDER BY COUNT(*) DESC;")
hospital_procedures_count = cursor.fetchall()
for hospital, count in hospital_procedures_count:
    print(f"Hospital: {hospital}, Procedures: {count}")

Hospital: Mount Sinai Brooklyn, Procedures: 13097687
Hospital: Mount Sinai Morningside, Procedures: 12653237
Hospital: Mount Sinai Hospital, Procedures: 12289559
Hospital: Mount Sinai Queens, Procedures: 11977589
Hospital: Johns Hopkins Hospital, Procedures: 31222
Hospital: Howard County General Hospital, Procedures: 13376

In [8]:
cursor.execute("PRAGMA table_info(hospital_prices);")
schema_info = cursor.fetchall()
for column in schema_info:
    print(column)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'hospital_name', 'TEXT', 0, None, 0)
(2, 'state', 'TEXT', 0, None, 0)
(3, 'county', 'TEXT', 0, None, 0)
(4, 'procedure_name', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'code_type', 'TEXT', 0, None, 0)
(7, 'setting', 'TEXT', 0, None, 0)
(8, 'cash_price', 'REAL', 0, None, 0)
(9, 'cash_discount', 'REAL', 0, None, 0)
(10, 'payer', 'TEXT', 0, None, 0)
(11, 'plan', 'TEXT', 0, None, 0)
(12, 'allowed_amount', 'REAL', 0, None, 0)
(13, 'min_negotiated_price', 'REAL', 0, None, 0)
(14, 'max_negotiated_price', 'REAL', 0, None, 0)
(15, 'rate_type', 'TEXT', 0, None, 0)

In [9]:
cursor.execute("SELECT hospital_name, COUNT(DISTINCT procedure_name), COUNT(DISTINCT(code)) FROM hospital_prices GROUP BY hospital_name ORDER BY COUNT(DISTINCT procedure_name) DESC;")
hospital_procedure_variety = cursor.fetchall()
for hospital, variety, code_count in hospital_procedure_variety:
    print(f"Hospital: {hospital},\t\tDistinct Procedures: {variety},\t\tDistinct Codes: {code_count}")

Hospital: Mount Sinai Brooklyn,		Distinct Procedures: 183614,		Distinct Codes: 45563
Hospital: Mount Sinai Hospital,		Distinct Procedures: 181570,		Distinct Codes: 43436
Hospital: Mount Sinai Queens,		Distinct Procedures: 179498,		Distinct Codes: 41804
Hospital: Mount Sinai Morningside,		Distinct Procedures: 179251,		Distinct Codes: 41036
Hospital: Johns Hopkins Hospital,		Distinct Procedures: 7100,		Distinct Codes: 10562
Hospital: Howard County General Hospital,		Distinct Procedures: 4908,		Distinct Codes: 6284

In [10]:
cursor.execute("SELECT hospital_name, CAST(SUM(cash_price) AS INTEGER)/1000000 FROM hospital_prices GROUP BY hospital_name ORDER BY SUM(cash_price) DESC;")
hospital_spending = cursor.fetchall()
for hospital, total in hospital_spending:
    print(f"Hospital: {hospital}\t, Total Spending: ${total}M")

Hospital: Mount Sinai Brooklyn	, Total Spending: $52720M
Hospital: Mount Sinai Morningside	, Total Spending: $50281M
Hospital: Mount Sinai Hospital	, Total Spending: $29116M
Hospital: Mount Sinai Queens	, Total Spending: $28440M
Hospital: Johns Hopkins Hospital	, Total Spending: $13M
Hospital: Howard County General Hospital	, Total Spending: $2M

In [11]:
cursor.execute("SELECT * FROM hospital_prices ORDER BY cash_price DESC LIMIT 10;")
top_hospital_prices = cursor.fetchall()
for row in top_hospital_prices:
    print(row)

(10865913, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'inpatient', 2035537.5, None, 'Multiplan', 'Complementary Network', None, 77.0, None, '1628430.0')
(10865914, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'inpatient', 2035537.5, None, 'Magnacare', 'JIB', None, 72.0, None, '1628430.0')
(10865915, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'inpatient', 2035537.5, None, 'Magnacare', 'Preferred', None, 76.0, None, '1628430.0')
(10865916, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'inpatient', 2035537.5, None, 'Magnacare', 'Standard', None, 80.0, None, '1628430.0')
(10865917, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'inpatient', 2035537.5, None, 'Multiplan', 'Primary Network', None, 77.0, None, '1628430.0')
(10865918, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'inpatient', 2035537.5, None, 'Emblem', 'GHI Network Access', None, 80.0, None, '1628430.0')
(10865919, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'outpatient', 2035537.5, None, 'Metroplus', 'Metroplus Essential Plan 1 & 2', None, None, None, '9.7')
(10865920, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'outpatient', 2035537.5, None, 'Metroplus', 'Medicare', None, None, None, '9.7')
(10865921, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'outpatient', 2035537.5, None, 'Metroplus', 'Exchange', None, None, None, '9.7')
(10865922, 'Mount Sinai Brooklyn', 'NY', 'Kings', 'HC Carvykti 70 Ml Bag Car T', 'BBC9399001', 'CDM', 'outpatient', 2035537.5, None, 'Metroplus', 'Metroplus Essential Plan 3 & 4', None, None, None, '3589.1')

In [12]:
cursor.execute("select procedure_name, Max(cash_price) from hospital_prices group by procedure_name order by Max(cash_price) desc limit 10;")
top_expensive_procedures = cursor.fetchall()
for row in top_expensive_procedures:
    print(row)

('HC Carvykti 70 Ml Bag Car T', 2035537.5)
('HC Carvykti 30 Ml Bag Car T', 2035537.5)
('HC Kymriah Peds Car-POS T', 1359568.75)
('HC Abecma Car T Cell per Infus', 1143137.5)
('HC Breyanzi Car T Cell per Infus', 1118067.5)
('HC Kymriah Adult Car-POS T', 1067619.25)
('HC Yescarta Car T Cell per Infus', 1060000.0)
('HC Tecartus Car-T Cell per Bag', 1060000.0)
('HC Multivisceral Organ Transplan', 638778.0)
('KIT IMPLANT HEART ARTIFICIAL TEMP DEVICE 50CC ALIASES: 570500-001 570500-00 570500 57050000 570500001 ', 556500.0)